<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Profil utilisateur</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_homogene.css') }}"
    />
  </head>
  <body>
    {% include 'header.html' %}

    <div class="container profil-container">
      {% if not utilisateur %}
      <p class="anonyme-msg">Utilisateur introuvable.</p>
      {% elif utilisateur.niveau_anonymat == 'anonyme' %}
      <p class="anonyme-msg">
        Cet utilisateur a choisi de rester totalement anonyme.
      </p>
      {% else %}
      <div class="profil-header">
        <img
          src="{{ url_for('static', filename=utilisateur.photo_de_profil) }}"
          alt="Photo de profil"
          class="profile-photo"
        />
        <div class="infos-utilisateur">
          <p><strong>Nom d’utilisateur :</strong> {{ utilisateur.username }}</p>
          <p><strong>Prénom :</strong> {{ utilisateur.prenom }}</p>
          <p><strong>Nom :</strong> {{ utilisateur.nom }}</p>
      
          {% if utilisateur.niveau_anonymat == 'public' %}
          <p><strong>Adresse courriel :</strong> {{ utilisateur.email }}</p>
          {% endif %}
      
          {% if est_conseiller %}
          <a
            href="{{ url_for('rendez_vous', username=utilisateur.username) }}"
            class="btn-book"
            style="display: inline-block; margin-top: 15px"
          >
            📅 Prendre rendez-vous
          </a>
          {% endif %}
        </div>
      </div>
      

      {% if utilisateur.niveau_anonymat == 'public' %}
      <h2 class="page-title">📚 Publications de l'utilisateur</h2>
      {% if publications %} {% for pub in publications %}
      <div class="publication-card">
        <div class="publication-meta">
          {{ pub.date.strftime('%d/%m/%Y %H:%M') }}
        </div>
        <div class="publication-title">{{ pub.p_titre }}</div>
        <div class="publication-text">{{ pub.texte|truncate(150) }}</div>
      </div>
      {% endfor %} {% else %}
      <p class="no-data">Aucune publication disponible.</p>
      {% endif %} {% endif %} {% endif %}
    </div>
  </body>
</html>
